.container-height {
	min-height: 600px;
}

.edit_watch_add {
	color:#777;
	line-height:1;
	margin-bottom: 10px;
	text-align: right;
}

.edit_watch_add a {
	color: #777;
}

.filter_span {
	margin-right: 5px;
}

.footable-filtering>.btn-primary {
	font-size: 14px;
}

.focus_not_underline:focus {
	text-decoration: none;
}

.focus_not_underline:hover {
	text-decoration: none;
}

.redColor {
	color: red
}

.greenColor {
	color: green
}

.blackColor {
	color: black
}

.blueColor {
	color: #337AB7
}