button.btn.btn-default.dropdown-toggle {
	height: 33px;
}

.container-height {
	min-height: 600px;
}

.edit_watch_add {
	color:#777;
	line-height:1;
	margin-bottom: 10px;
	text-align: right;
}

.edit_watch_add a {
	color: #777;
}

.filter_span {
	margin-right: 5px;
}

