.btn.btn-default.dropdown-toggle {
	height: 33px;
}

button.btn.btn-primary {
	font-size: 20px;
	margin-left: -10px;
}

.dropdown-toggle.btn-default{
	font-size:20px ;
}
.container-height{
	min-height:500px;
}